// COLOR
$color-white: #ffffff;
$color-grey: #cecece;
$color-grey-2: #c7c7c7;
$color-grey-dark: #9b9b9b;
$color-yellow: #ffd600;
$color-yellow-2: #ffc800;
$color-gold: #f8a626;
$color-red: #cf0b0f;
$color-red-2: #c60408;
$color-green: #507a19;
$color-blue: #3158b3;
$color-brown: #550002;
$color-black: #000000;

// TRANSITION
$transition-fast: 200ms;
$transition-main: 350ms;

// FONT
$font-main-regular: "Circe-Regular", Arial, sans-serif;
$font-main-bold: "Circe-Bold", Arial, sans-serif;
