mixin table(props)
  .table
    .table-header
      .table-row
        .table-cell Date
        .table-cell Name
        .table-cell Phone
        .table-cell Prize
    .table-body
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
      .table-row
        .table-cell(data-label="Date:") 15.09.2020
        .table-cell(data-label="Name:") Alex
        .table-cell(data-label="Phone:") +7(***)***2053
        .table-cell(data-label="Prize:") $100
